body {
    background: linear-gradient(90deg, white, #2eadc2);
    background-color: maroon;
    font-family:'Times New Roman', Times, serif
}

#blink {
    font-size: 20px 
    font-weight bold;
    color: white;
    transition: 0.5s;
}

#latitude{
    color: chocolate
}

#headerStyle{
    font-weight:900;
}

#Data {
    background: linear-gradient(180deg, white, lightblue);
}